/* ----------------------- login ------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: 'Dancing';
}

body {
    background: #ecf0f3
}

.login {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff
}

.formularios {
  max-width: 550px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff
}

.logo {
    width: 280px;
    margin: auto
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #98ccf3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}

.login .name, .formularios .name  {
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555
}

.login .form-field input, .formularios .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    color: #666;
    padding: 10px 15px 10px 10px
}

.login .form-field, .formularios .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
}

.login .form-field .fas, .formularios .form-field .fas  {
    color: #555
}

.login .btn, .formularios .btn  {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px
}

.login .btn:hover, .formularios .btn:hover  {
    background-color: #039BE5
}

.collapse a, .footer-social-link ul i{
    text-decoration: none;
    font-size: 1rem;
    color: transparent;
}

.login a:hover, .formularios a:hover {
    color: #039BE5
}



/* ------------------- FIN LOGIN ----------------------*/


.nav-item {
    padding: 0px 8px;
    margin: 0px 3px;
    margin: center;
    border-radius: 5px;
    background-color: #666464;
  }
  
  .nav-item:hover {
    background-color: #923a92;
  }
  
  .nav-link {
    color: red;
  }

/* ------------------- CABECERA ---------------------- */
/* .cabecera-1{
  z-index: 2;
} */

.card1-cabecera {
    border: none;
    height: auto;
    position: absolute;
    padding: 5vh 5vh;
    bottom: 30vh;
    width: 45%;
    height: auto;
    background-color: white !important;
}

.btn-pink {
    background: #fa8f8f;
    font-size: 16px;
    color: #fff;
    width: 150px;
    height: 40px;
    border: 1px solid #FF5252;
    text-transform: uppercase;
    margin-top: 20px
}

.btn-pink:hover {
    background: #F44336;
    color: #fff
}

@media only screen and (max-width: 2440px){
  .card1-cabecera{
    top:25vw;
    right: 35vw;
    padding: 3vh 3vh;
    width: 35%;
    height: 25vw !important;
    text-align: center;
  }
  .square-1{
    bottom: -5vw !important;
    right: 35vh  !important;
    width: 75vw !important;
  }
  .square-2{
    top: 10vw !important;
    left: 10vh  !important;
    width: 55vw !important;
    height: 105vh !important;
  }
}

@media only screen and (max-width: 1440px){
  .card1-cabecera{
    top:25vw;
    right: 30vw;
    padding: 3vh 3vh;
    width: 40%;
    height: 25vw !important;
    text-align: center;
  }
  .square-1{
    bottom: -5vw !important;
    right: 35vh  !important;
    width: 75vw !important;
  }
  .square-2{
    top: -10vw !important;
    left: 10vh  !important;
    width: 55vw !important;
    height: 55vh !important;
  }
}

@media only screen and (max-width: 996px){
  .card1-cabecera{
    top:25vw;
    right: 30vw;
    padding: 3vh 3vh;
    width: 45%;
    height: 32vw !important;
  }
  .square-1{
    top: 25vw !important;
    left: 35vh  !important;
    width: 75vw !important;
  }
  .square-2{
    top: -35vw !important;
    left: 50vh  !important;
    width: 55vw !important;
    height: 75vh !important;
  }
}

@media only screen and (max-width: 768px){

  .img2 {
    position: absolute;
    left: 50vw;
  }

  .img3, .img4 {
    visibility: hidden;
  }

  .img9 {
    display: none !important;
  }

  .img6 {
    position: absolute;
    right:50vw;
    top:35vw;
    z-index: -1;
    width:55%;
    height:auto !important;
  }

  .card1-cabecera{
    top:25vw;
    padding: 3vh 3vh;
    right: 25vw;
    width: 50% !important;
    height: 52vw !important;
  }

  .img7{
    position:absolute;
    right:50vw;
    top:65vw;
    z-index: -1;
    width: 50%;
    height:40vw !important;
  }

  .img8 {
    position: absolute;
    top:56vw;
    left:50vw;
    z-index: -1;
    width: 50%;
    height: 42vw !important;
  }

  .square-2{
    margin-left: -10vw!important;
    margin-top: 10vw !important;
    height: 85vw !important;
    width: 60vw !important;
  }

  .square-1{
    top: 45vw!important;
    left: 35vw!important;
    width: 80vw !important;
  }

  @media only screen and (max-width: 576px){

    .square-2{
      left: 65vw!important;
      top: -75vw!important;
      height: 85vh!important;
    }
  
    .square-1{
      left: 30vw !important;
      margin-top: -60vw !important;
      width: 60vw !important;
    }

    .img1 {
      position: absolute;
      right: 40vw;
      top: 20vw;
      width: 60% !important;   
      height: 90% !important;
    }

    .img2 {
      position: absolute;
      top: 20vw;
      left: 50vw;
      width: 60% !important;
      height: auto !important;
    }

    .img6 {
      position: absolute;
      right:45vw;
      top:52vw;
      z-index: -1;
      width:58%;
      height:auto !important;
    }

    .img7{
      position:absolute;
      right:45vw;
      top:83vw;
      z-index: -1;
      width: 60%;
      height: 42vw !important;
    }
    .img8 {
      position: absolute;
      top:76vw;
      left:48vw;
      z-index: -1;
      width: 70%;
      height: 46vw !important;
      object-fit: cover;
    }
  
    .img3, .img4, .img9  {
      visibility: hidden !important;
    }

    .img11{
      display: none !important;
    }

    .card1-cabecera{
      top:30vw;
      padding: 3vh 3vh;
      right: 10vh;
      width: 50% !important;
      height: 80vw !important;    
    }
  }
}


/* ------------------- FIN CABECERA ---------------------- */

/* ------------------- about us ---------------------------*/


.square-line {
  height: 2px;
  width: 200px;
  display: inline-block;
  background-color: violet;
}

.square-1{
  z-index: -1;
  background-color: #e2cabd;
 
}

.square-2{
  z-index: -2;
  background-color: #dadee7;

}

/* -------------------- All Vendors ---------------------- */

.vendedores, .crea_vendedor{
    background-image: url(../images/fondo-fotos-blancoNegro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-vendors{
    border-radius: 20px;
    background: #c5c4c4;
    box-shadow: 5px 5px 15px #f7caca, -5px -5px 15px #ffffff;
    border: none;
}

.card-body a{
    font-size: 12px;

}

.card img {
    border-radius: 50%;
    background: linear-gradient(145deg, #141414, #7c7979);
    box-shadow: 10px 10px 30px #bdd0f3, -10px -10px 30px #ffffff;
    object-fit: cover;
}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff
}

.neo-button:active {
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: inset 20px 20px 60px #cacaca, inset -20px -20px 60px #ffffff
}

.fa-facebook {
    color: #3b5998
}

.fa-linkedin {
    color: #0077b5
}


.fa-youtube {
    color: #cd201f
}

.fa-twitter {
    color: #55acee
}

/* ------------------ FIN All Vendors -------------------- */

/* ---------------- Products All Vendors ----------------- */

.card-products {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px
}

.like {
    color: #CFD8DC
}

.like-checked {
    color: #E53935
}

.like:hover {
    color: #E53935;
    cursor: pointer
}

.pic1 {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.product-pic {
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    height: auto;
}

.card-1 {
    padding: 0px 30px 0px 30px !important;
    border: none
}

.card-1 h3{
    font-size: 18px;
}

.card-1 h5{
    font-size: 12px;
}


.category {
    padding-top: 25px;
    color: grey
}

.product-name {
    padding-bottom: 15px
}

.price {
    font-size: 18px
}

.star-active {
    color: #FFCA28 !important
}

.star-inactive {
  color: #CFD8DC !important;
}
.fa-star {
    color: #CFD8DC;
    cursor: pointer
}


/* ---------------- FIN Products All Vendors ----------------- */


/* ------------------------- FOOTER -------------------------- */


.dk-footer {
    padding: 90px 0 0;
    color: white;
    background-color: #151414;
    z-index: 2;
  }
  
  .dk-footer-box-info {
    background: #202020;
    padding: 40px;
    z-index: 2;
  }
  
  .dk-footer-box-info .footer-social-link {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
  }
  
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dk-footer-box-info .footer-social-link li {
    display: inline-block;
  }
  
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff;
  }
  
  .dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998;
  }
  
  .dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55ACEE;
  }
  
  .dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39;
  }
  
  .dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976B4;
  }
  
  .dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #B7242A;
  }
  
  .contact-us {
    margin-bottom: 20px;
  }
  
  .contact-us div i {
    font-size: 18px;
    color: #864df7;
  }
  
  .contact-us .contact-info {
    color: #fff;
    font-size: 16px;
  }
  
  .footer-widget ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 20px;
  }
  
  .footer-widget li {
    margin-bottom: 18px;
  }
  
  .footer-widget p {
    margin-bottom: 27px;
  }
  
  .footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .footer-widget a:hover {
    color: #864df7;
  }
  
  .footer-widget:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .dk-footer-form {
    position: relative;
  }
  
  .dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
  }
  
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
  }
  
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px;
  }
  
  .dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #864df7;
    background: #fa67fa;
    color: #fff;
  }
  
  .dk-footer-form button:hover {
    cursor: pointer;
  }
  
  .copyright {
    padding: 28px 0;
    margin-top: 55px;
    background-color: #202020;
  }
  
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .copyright a:hover {
    color: #007bff;
  }
  
  .copyright-menu ul {
    text-align: right;
    margin: 0;
  }
  
  .copyright-menu li {
    display: inline-block;
    margin: 1px;
  }
  
  .back-to-top {
    position: relative;
    z-index: 2;
  }
  
  .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #FA6742;
    border-color: #FA6742;
  }